
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
  
     
        
      <li class="nav-item">
        <a class="nav-link " href="{% url 'services:installer_list' %}">
          <i class="fa fa-truck"></i>
          <span>Pending Bookings</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'services:installer_completed_list' %}">
          <i class="fa fa-truck"></i>
          <span>Complete Bookings</span>
        </a>
      </li><!-- -->
  

  
      <!-- <li class="nav-heading">Pages</li> -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'feedback:installer_send_feedback' %}">
          <i class="fas fa-paper-plane"></i>
          <span>Send Feedback</span>
        </a>
      </li>  
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'feedback:installer_feedback' %}">
          <i class="fas fa-comments"></i>
          <span>Feedback</span>
        </a>
      </li>
    
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'feedback:about-us' %}">
          <i class="bi bi-question-circle"></i>
          <span>About Us</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'feedback:installer-faq' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
  
    </ul>
  
  </aside><!-- End Sidebar-->