{% extends 'customer/layouts/customer-base.html' %}

{% block title %}/ View Products{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4" style="color: #333;">Our Finished Products</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
                <div class="col-6 col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <a href="#">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                        </a>
                        <div class="card-body p-3">
                            <h5 class="card-title mb-2" style="color: #070303;font-size: 1.0rem;"><strong>{{ product.name }}</strong></h5>
                            <p class="card-title mb-2" style="color: #070303;font-size: 1.0rem;"><strong>Description: </strong>{{ product.description }}
                            <p class="card-text text-muted mb-1" style="color: #070303;font-size: 0.9rem;"><strong>Price: {{ product.price }}</strong>
                            <p class="card-text text-muted mb-1" style="color: #070303;font-size: 0.rem;"><strong>In stock: {{ product.quantity }}</strong>
                            </p>
                            
                            <div style="padding: 5px;">
                                <a href="{% url 'store:add_to_cart' product.pk %}" class="btn btn-primary btn-sm btn-block" style="font-size: 0.8rem;">Add to cart</a>
                            </div>

                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        @media (max-width: 576px) {
            .card-text strong {
                color: #000000 !important;
            }
        }
    </style>
{% endblock %}
