{% extends 'customer/layouts/customer-base.html' %}

{% block title %}/ View services{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4" style="color: #333;">View Available services</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for service in services %}
                <div class="col-6 col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <a href="#">
                            <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                        </a>
                        <div class="card-body p-3">
                            <h5 class="card-title mb-2" style="color: #070303;font-size: 1.3rem;"><strong>{{ service.name }}</strong></h5>
                            <p class="card-title mb-2" style="color: #070303;font-size: 1.1rem;"><strong>Name: </strong>{{ service.name }}</p>
                            <p class="card-text mb-1" style="color: #070303;font-size: 0.9rem;"><strong>Description: </strong>{{ service.description }}</p>
                            <p class="card-text mb-1" style="color: #070303;font-size: 0.9rem;"><strong>Cost: </strong>{{ service.name.price }}</p>
                            <p class="card-text mb-1" style="color: #070303;font-size: 0.9rem;"><strong>Tools Required: </strong>{{ service.tools_required }}</p>
                            
                            <div style="padding: 5px;">
                                <a href="{% url 'services:book_service' service.id %}" class="btn btn-primary btn-sm btn-block" style="font-size: 0.8rem;">Book service</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        @media (max-width: 576px) {
            .card-text strong {
                color: #000000 !important;
            }
        }
    </style>
{% endblock %}
