{% extends 'driver/layouts/driver-base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'accounts:driver' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Orders Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Approved Orders</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa fa-shopping-bag"></i>
                    </div>
                    <div class="ps-3">
                      <a href="#">
                      <h6>{{approved}}</h6>
                    </a>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Orders Card -->

            <!-- Orders Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Deliveries</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa fa-truck"></i>
                    </div>
                    
                  </div>
                </div>

              </div>
            </div><!-- End Orders Card -->
                  
      </div>
    </section>
    {% endblock %}