{% extends 'layouts/base-auth.html' %}

{% block content %}
<div class="card-body">

  <div class="logo-container">
    {% load static %}
    <img class="rounded-circle logo-img" src="{% static 'assets/img/truck-city.png' %}" alt="Logo" style="width: 100px; height: auto;">

    <h3 class="logo-heading">Truck City Ltd</h3>
  </div>

  <form class="login-form" method="post">
    {% csrf_token %}

    {% include 'components/form-errors.html' with form=form %}
    {% include 'components/form.html' with form=form %}

    <div class="form-group">
      <button class="btn btn-primary btn-login" type="submit">Register</button>
    </div>

  </form>
</div>

<style>
  .card-body {
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
  }

  .logo-container {
    text-align: center;
    margin: 0 auto;
  }

  .logo-img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .logo-img {
    max-width: 200px;
    height: auto;
  }

  .logo-heading {
    font-size: 24px;
    {% comment %} margin-top: 0px; {% endcomment %}
    border-radius: 30%;
    {% comment %} background-color: #A9A9A9; {% endcomment %}
    color: #000;
    padding: 0px;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .login-form {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn-login {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #006400;
    color: #fff;
    border: none;
    width: auto;
    display: block;
    margin: 0 auto;
    
  }

  .btn-login:hover {
    background-color: #90EE90;
  }

  .form-group.text-center {
    margin-bottom: 10px;
  }

  .form-group.text-center a {
    color: #007bff;
  }
</style>
{% endblock %}
