{% extends 'inventory_manager/layouts/inventory-base.html' %}


{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% block styles %}
{% block title %}Add Category{% endblock title %}
{% endblock styles %}

<div class="container-fluid mt-3">
    <form action="" method="POST" >{% csrf_token %}
        <div class="row">
            <div class="col-md">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <hr>
                    {{form.as_p}}
                   
                    </div>
                
                </div>   
            </div>
        
        <button type="submit" class="btn btn-primary w-100 fw-bold">Submit</button>
    
       </div>
    </form>
    
</div>
{% endblock content %}