{% extends 'inventory_manager/layouts/inventory-base.html' %}

{% block content %}
<div class="container" style="padding: 50px;">
  <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid">  
  
  <h1>{{ object.name }}</h1>
  <p>{{ object.description }}</p>
  <p><strong>Price:</strong> {{ object.price }}</p>
  <p><strong>Category:</strong> {{ object.category }}</p>
  <a href="{% url 'store:product-update' pk=object.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'store:product-list' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}
