{% extends 'service_provider/layouts/service-base.html' %}


{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-5" style="color: blue;">Service Bookings</h1>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Booking ID</th>
          <th scope="col">User</th>
          <th scope="col">Service</th>
          <th scope="col">Location</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Tools Required</th>
          <th scope="col">Service Delivered</th>
          <th scope="col">Customer Feedback</th>
          <th scope="col">Customer Approval</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.pk }}</td>
          <td>{{ booking.user.username }}</td>
          <td>{{ booking.service.name }}</td>
          <td>{{ booking.location }}</td>
          <td>{{ booking.booking_date }}</td>
          <td>{{ booking.tools_required|default:"N/A" }}</td>
          <td>{{ booking.service_delivered|yesno:"Yes,No" }}</td>
          <td>{{ booking.customer_feedback|default:"No feedback provided" }}</td>
          <td>{{ booking.customer_approval|yesno:"Approved,Rejected,Pending" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="9" class="text-center">No bookings found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<style>
  /* Styles for the table and its cells */
  table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  th, td {
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
  }

  th {
    background-color: #343a40;
    color: #fff;
    border: none;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 768px) {
    th, td {
      font-size: 12px;
    }
    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
</style>
{% endblock %}
