{% load static %}
<!-- jQuery -->
<script src="{% static 'salonist/assets/js/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap Core JS -->
<script src="{% static 'salonist/assets/js/popper.min.js' %}"></script>
<script src="{% static 'salonist/assets/js/bootstrap.min.js' %}"></script>
<!-- Slimscroll JS -->
<script src="{% static 'salonist/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- Select2 JS -->
<script src="{% static 'salonist/assets/js/select2.min.js' %}"></script>
<!-- Custom JS -->
<script  src="{% static 'salonist/assets/js/script.js' %}"></script>