{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/bootstrap.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/font-awesome.min.css' %}">
<!-- Feathericon CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/feathericon.min.css' %}">
<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/select2.min.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/style.css' %}">