{% extends 'finance_manager/layouts/base.html' %}

{% block content %}
 
  <div class="container-fluid my-5">
    <h1 class="text-center mb-5" style="color: blue;">Complete Supply Tenders</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <!-- <th>Supplier</th> -->
                <th scope="col">Supplier</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total amount</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
            {% for tender in tenders %}
              <tr>
                <!-- <td>{{ tender.user.username }}</td> -->
                <td>{{ tender.user.get_full_name }}</td>
                <td>{{ tender.product }}</td>
                <td>{{ tender.quantity }}</td>
                <td>{{ tender.total }}</td>
                <td>{{ tender.tender_status }}</td>
                <td>{{ tender.date }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4" class="text-center">No confirmed paid tenders yet.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* Styles for the table and its cells */
    table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      background-color: #fff;
      font-size: 14px;
      border-collapse: separate;
      border-spacing: 0px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    th, td {
      padding: 1rem;
      vertical-align: middle;
      text-align: center;
    }

    th {
      background-color: #343a40;
      color: #fff;
      border: none;
    }

    /* Styles for the horizontal scroll view */
    .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    /* Styles for mobile devices */
    @media (max-width: 576px) {
      th, td {
        font-size: 12px;
      }

      th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      td {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  </style>
{% endblock %}
